
.na{
    display: flex;
    justify-content: space-between;
    background-color: #FF6666;
    color: white;
    position: fixed;
    width: 1520px;
    margin-top: -105px;
    margin-left: -10px;
    height: 70px;
}
.navi{
    display: flex;
    gap: 8px;
}
.hom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 10px;
}
.hom a{
    text-decoration: none;
    color: white;
    font-size:20px;
}
.navi img{
    height: 100px;
    width: 100px;
    margin-top: -12px;
    margin-left: 10px;
}
.hom a img{
    height: 25px;
    width: 25px;
    margin-bottom: -5px;
    margin-top: -10px;
}
.sec{
    display: flex;
    margin-top: 10px;
    gap: 5px;
}
.sec input{
    height: 20px;
    width: 250px;
    margin-top: 27px;
    margin-top: 15px;
}
.sec img{
    height: 20px;
    width: 20px;
    margin-top: 30px;
    margin-top: 17px;
}

.event{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 70px;
}
.events{
    margin-top: 50px;
    width: 1300px;
    margin-left: 100px;
}
.concert{
    display: flex;
    justify-content: space-between;
    background-image: url(images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    font-size: 20px;
    border: 2px;
    border-style: solid;
    box-shadow: 5px 5px 15px;
}
.concerts{
    display: flex;
    gap: 30px;
}
.concerts img{
    height: 200px;
    width: 200px;
    border-radius: 30px;
}
.buy{
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-right: 100px;
    text-align: center;
    
}
.buy a{
    background-color: rgb(241, 160, 11);
    color: white;
    text-decoration: none;
    width: 100px;
    border-radius: 5px;
}











.line1{
    margin-top: 70px;
    height: 7px;
    margin-left: -7px;
    background-color: #FF8989;
}
.con img{
    height: 30px;
    width: 30px;
}
.fo h3{
    margin: auto;
}
.con{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fo{
    display: flex;
    gap: 10px;
}
.ii img{
    height: 30px;
    width: 35px;
}
.foot{
    display: flex;
    justify-content: center;
    gap: 300px;
    margin: auto;
}
.abo{
    width: 500px;

}
footer{
    background-color: #FFEADD;
    margin-left: -8px;
}
.cc img{
    height: 20px;
    width: 35px;
    margin-top: 20px;
}
.cc{
    display: flex;
    justify-content: center
}